# Vocawiki前端部署配置示例文件
# 等号后面是默认值，可不修改。留空的变量必须填写

# MediaWiki机器人账号
DEPLOY_USERNAME=
DEPLOY_PASSWORD=

# Cloudflare Worker配置
CF_ACCOUNT_ID=
CF_API_TOKEN=
CF_WORKER_NAME=assets
CF_WORKER_COMPATIBILITY_DATE=2026-09-04
CF_WORKER_SUBDOMAIN=vocawiki

# 下面的变量影响代码压缩等配置，留空则使用平台默认值
#NODE_ENV=production或development
