.infoBox {
	margin: 0 auto;
	width: 80%;
	box-sizing: border-box;
}

.infoBoxTitle {
	margin: 3px auto;
	padding: 0;
	text-align: center;
	font-weight: 700;
}

.infoBoxIcon {
	display: table-cell;
	padding: 2px 0 2px 0.5em;
	vertical-align: middle;
}

.infoBoxText {
	display: table-cell;
	padding: 0.25em 0.5em 0.25em 1.3em;
	width: 100%;
	vertical-align: middle;
}

.infoBoxContent {
	border: 1px solid #ddd;
	border-left-width: 0;
	background: #fbfbfb;
}

.infoBoxBelow {
	margin: 0 auto;
	padding: 0;
	text-align: center;
}
