@use "mixins";

.select-none {
	@include mixins.select-none;
}

.hidden {
	display: none;
}

/* from https://github.com/twbs/bootstrap/blob/cb021439c683d9805e2864c58095b92d405e9b11/scss/mixins/_visually-hidden.scss */
.visually-hidden {
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	padding: 0 !important;
	margin: -1px !important;
	overflow: hidden !important;
	clip: rect(0, 0, 0, 0) !important;
	-webkit-clip-path: inset(50%) !important;
	clip-path: inset(50%) !important;
	white-space: nowrap !important;
	border: 0 !important;
}

// 变量由各皮肤定义
.text-xs {
	font-size: var(--text-xs);
	line-height: var(--text-xs--line-height);
}
.text-sm {
	font-size: var(--text-sm);
	line-height: var(--text-sm--line-height);
}
.text-base {
	font-size: var(--text-base);
	line-height: var(--text-base--line-height);
}
.text-lg {
	font-size: var(--text-lg);
	line-height: var(--text-lg--line-height);
}
.text-xl {
	font-size: var(--text-xl);
	line-height: var(--text-xl--line-height);
}
