body {
	font-feature-settings: "locl";
}

pre,
code,
kbd,
samp,
tt,
.CodeMirror,
[style*="monospace"] {
	text-autospace: no-autospace;
	text-spacing-trim: space-all;
}

textarea,
input:where(
	:not([type]),
	[type="email"],
	[type="password"],
	[type="search"],
	[type="tel"],
	[type="text"],
	[type="url"]
) {
	text-spacing-trim: space-all;
}

span[lang] {
	font-family: initial;
}

[style*="font:" i] span[lang],
[style*="font-family:" i] span[lang] {
	font-family: inherit;
}

// 下面这几坨好恶心
@font-face {
	font-family: JapaneseItalic;
	src: local(meiryo);
}

i:not(.GaiBuHuiZhenYouRenYongZheGeClassBa) span[lang="ja" i],
[style*="italic" i] span[lang="ja" i],
span[lang="ja" i] i:not(.GaiBuHuiZhenYouRenYongZheGeClassBa),
span[lang="ja" i] [style*="italic" i] {
	font-family:
		JapaneseItalic, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

[style*="font:" i] i:not(.GaiBuHuiZhenYouRenYongZheGeClassBa) span[lang="ja" i],
[style*="font:" i] [style*="italic" i] span[lang="ja" i],
[style*="font-family:" i] i:not(.GaiBuHuiZhenYouRenYongZheGeClassBa) span[lang="ja" i],
[style*="font-family:" i] [style*="italic" i] span[lang="ja" i],
[style*="font:" i] span[lang="ja" i] i:not(.GaiBuHuiZhenYouRenYongZheGeClassBa),
[style*="font:" i] span[lang="ja" i] [style*="italic" i],
[style*="font-family:" i] span[lang="ja" i] i:not(.GaiBuHuiZhenYouRenYongZheGeClassBa),
[style*="font-family:" i] span[lang="ja" i] [style*="italic" i] {
	font-family: inherit;
}
