:root {
	--font-main:
		ui-sans-serif, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

	// 参考：
	// - GitHub: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, "Liberation Mono", monospace
	// - Tailwind CSS: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace
	// - Bootstrap: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace
	// - [Gentle Intro to System Default Monospace Fonts](https://ianyepan.github.io/posts/system-default-monospace-fonts-pt1/)

	// 【不要把下面的注释插入到字体列表里，SCSS 处理 CSS 自定义属性时会保留注释。已经在 d67dffd432a9e03d61f4d8caea7e48e7085e1289 吃过一次亏了】
	// 字体选用理由：
	// - SF Mono: macOS 默认，不知道为什么几个框架和网站都把 SFMono-Regular 而不是 SF Mono 排在前面
	// - JetBrains Mono: 如果装了 JetBrains 系的软件就会被安装
	// - Menlo: macOS 旧默认，基于 DejaVu 设计，更现代
	// - Roboto Mono: Android 预装
	// - DejaVu Sans Mono: Linux 预装
	// - Monaco: macOS 旧旧默认
	// - Consolas: Windows 默认，字形不现代
	// - Liberation Mono: Linux 预装，字形不现代
	// - Droid Sans Mono: Android 默认，但是没 Roboto Mono 现代
	// - Courier New: 老古董
	// - 最后不能是 monospace，因为很多浏览器 monospace 的中文是宋体，很出戏，所以这里用 --font-main，但因此我们需要让前面尽可能多地覆盖用户可能有的字体。
	// 不选用的字体：
	// - Cascadia Code/Mono: Windows 预装，但是太粗了，和中文不搭。
	// 【不要把上面的注释插入到字体列表里，SCSS 处理 CSS 自定义属性时会保留注释。已经在 d67dffd432a9e03d61f4d8caea7e48e7085e1289 吃过一次亏了】
	--font-mono:
		ui-monospace, SFMono-Regular, "SF Mono", "JetBrains Mono", Menlo, "Roboto Mono", "DejaVu Sans Mono", Monaco,
		Consolas, "Liberation Mono", "Droid Sans Mono", "Courier New", var(--font-main);

	// 如果有 --font-sans 和 --font-serif 的需求，可以在这里加。
}
