table.navbox {
	border: 1px solid #aaa;
	clear: both;
	margin: auto;
	padding: 1px;
	text-align: center;
	width: 100%;
}

table.navbox + table.navbox {
	margin-top: -1px;
}

.navbox-title,
.navbox-abovebelow,
table.navbox th {
	padding-left: 1em;
	padding-right: 1em;
	text-align: center;
}

.navbox-group {
	font-weight: 700;
	white-space: nowrap;
}

.navbox,
.navbox-subgroup {
	background: light-dark(rgba(255,255,255,1), transparent);
}

.navbox-list {
	border-color: light-dark(#fdfdfd, #0d0d0d);
}

.navbox-title,
table.navbox th {
	background: light-dark(rgba(203,239,249,1), rgba(203,239,249,0.1));
}

.navbox-abovebelow,
.navbox-group,
.navbox-subgroup .navbox-title {
	background: light-dark(rgba(217,244,252,1), rgba(217,244,252,0.1));
}

.navbox-subgroup .navbox-group,
.navbox-subgroup .navbox-abovebelow {
	background: light-dark(rgba(227,247,252,1),rgba(227,247,252,0.05));
}

.navbox-even {
	background: light-dark(rgba(241,250,253,1), rgba(217,244,252,0.05));
}

.navbox-odd {
	background: light-dark(rgba(255,255,255,1), transparent);
}

body:not(.main-sm) {
	.navbox {
		width: 100% !important;
		box-sizing: border-box;
		overflow-x: hidden;

	img {
		max-width: 100% !important;
		height: auto !important;
	}

	tr,
	td {
		display: block;
		width: 100% !important;
		max-width: 100% !important;
		box-sizing: border-box;
	}

	.navbox-group,
	.navbox-list {
		width: auto !important;
		padding: 0.25em 0.75em;
		border-left: none !important;
		box-sizing: border-box;
		.navbox-subgroup,
		table.navbox {
			border-left: 0.5em solid transparent;
		}
	}

	.navbox-group + * {
		border-top: 2px solid light-dark(#fdfdfd, #0d0d0d);
	}

	.navbox-title {
		display: block;
	}

	a,
	span {
		overflow-wrap: break-word;
    }
  }
}
