table.navbox {
	border: 1px solid #aaa;
	clear: both;
	margin-inline: auto;
	padding: 1px;
	text-align: center;
	width: 100%;

	+ & {
		margin-top: -1px;
	}
}

.navbox-title,
.navbox-abovebelow,
table.navbox th {
	padding-left: 1em;
	padding-right: 1em;
	text-align: center;
}

.navbox-group {
	font-weight: 700;
	white-space: nowrap;
}

.navbox,
.navbox-subgroup {
	background-color: white;
	@variant dark {
		background-color: transparent;
	}
}

.navbox-list {
	border-color: #fdfdfd;
	@variant dark {
		border-color: #0d0d0d;
	}
}

.navbox-title,
table.navbox th {
	background-color: rgb(203 239 249);
	@variant dark {
		background-color: rgb(203 239 249 / 0.1);
	}
}

.navbox-abovebelow,
.navbox-group,
.navbox-subgroup .navbox-title {
	background-color: rgb(217 244 252);
	@variant dark {
		background-color: rgb(217 244 252 / 0.1);
	}
}

.navbox-subgroup .navbox-group,
.navbox-subgroup .navbox-abovebelow {
	background-color: rgb(227 247 252);
	@variant dark {
		background-color: rgb(227 247 252 / 0.05);
	}
}

.navbox-even {
	background-color: rgb(241 250 253);
	@variant dark {
		background-color: rgb(217 244 252 / 0.05);
	}
}

.navbox-odd {
	background-color: rgb(255 255 255);
	@variant dark {
		background-color: transparent;
	}
}

.navbox {
	@variant not-main-sm {
		width: 100% !important;
		box-sizing: border-box;
		overflow-x: hidden;

		img {
			max-width: 100% !important;
			height: auto !important;
		}

		tr,
		td {
			display: block;
			width: 100% !important;
			max-width: 100% !important;
			box-sizing: border-box;
		}

		.navbox-group,
		.navbox-list {
			width: auto !important;
			padding: 0.25em 0.75em;
			border-left: none !important;
			box-sizing: border-box;

			.navbox-subgroup,
			table.navbox {
				border-left: 0.5em solid transparent;
			}
		}

		.navbox-group + * {
			border-top: 2px solid #fdfdfd;
			@variant dark {
				border-top-color: #0d0d0d;
			}
		}

		.navbox-title {
			display: block;
		}

		a,
		span {
			overflow-wrap: break-word;
		}
	}
}
