table.navbox {
	border: 1px solid #aaa;
	clear: both;
	margin: auto;
	padding: 1px;
	text-align: center;
	width: 100%;
}

table.navbox + table.navbox {
	margin-top: -1px;
}

.navbox-title,
.navbox-abovebelow,
table.navbox th {
	padding-left: 1em;
	padding-right: 1em;
	text-align: center;
}

.navbox-group {
	font-weight: 700;
	white-space: nowrap;
}

.navbox,
.navbox-subgroup {
	background: rgba(255,255,255,1);
}

.navbox-list {
	border-color: #fdfdfd;
}

.navbox-title,
table.navbox th {
	background: rgba(203,239,249,1);
}

.navbox-abovebelow,
.navbox-group,
.navbox-subgroup .navbox-title {
	background: rgba(217,244,252,1);
}

.navbox-subgroup .navbox-group,
.navbox-subgroup .navbox-abovebelow {
	background: rgba(227,247,252,1);
}

.navbox-even {
	background: rgba(241,250,253,1);
}

.navbox-odd {
	background: rgba(255,255,255,1);
}

body:not(.main-sm) {
	.navbox {
		width: 100% !important;
		box-sizing: border-box;
		overflow-x: hidden;

		img {
			max-width: 100% !important;
			height: auto !important;
		}

		tr,
		td {
			display: block;
			width: 100% !important;
			max-width: 100% !important;
			box-sizing: border-box;
		}

		.navbox-group,
		.navbox-list {
			width: auto !important;
			padding: 0.25em 0.75em;
			border-left: none !important;
			box-sizing: border-box;

			.navbox-subgroup,
			table.navbox {
				border-left: 0.5em solid transparent;
			}
		}

		.navbox-group + * {
			border-top: 2px solid #fdfdfd;
		}

		.navbox-title {
			display: block;
		}

		a,
		span {
			overflow-wrap: break-word;
		}
	}
}

@variant dark {
	.navbox,
	.navbox-subgroup {
		background: transparent;
	}

	.navbox-list {
		border-color: #0d0d0d;
	}

	.navbox-title,
	table.navbox th {
		background: rgba(203,239,249,0.1);
	}

	.navbox-abovebelow,
	.navbox-group,
	.navbox-subgroup .navbox-title {
		background: rgba(217,244,252,0.1);
	}

	.navbox-subgroup .navbox-group,
	.navbox-subgroup .navbox-abovebelow {
		background: rgba(227,247,252,0.05);
	}

	.navbox-even {
		background: rgba(217,244,252,0.05);
	}

	.navbox-odd {
		background: transparent;
	}

	body:not(.main-sm) {
		.navbox {
			.navbox-group + * {
				border-top: 2px solid #0d0d0d;
			}
		}
	}
}
