// 最初源自 https://zh.moegirl.org.cn/MediaWiki:Gadget-site-styles.css
// 版权协定：CC BY-NC-SA 3.0
// 后续由Vocawiki编辑者贡献

@use "variables";
@use "preflight-class";
@use "public-utils";
@use "typography";
@use "mediawiki/change-list";
@use "heimu";
@use "tabs";
@use "ruby";
@use "columns";
@use "navbox";

.sidebar-character,
// 语言选择下拉框的zh-Hans、zh-Hant等
#ca-varlang-0,
#ca-varlang-1,
#ca-varlang-2 {
	display: none;
}

.patroller-show,
.checkuser-show,
.suppress-show,
.sysop-show,
.interface-admin-show,
// 用户页分类
body.ns-2 div#catlinks {
	display: none !important;
}

// T:注解
.annotation {
	> span {
		cursor: pointer;
	}

	.oo-ui-popupWidget {
		z-index: 1000001;
		white-space: normal;
		color: #000;
		font-weight: normal;
	}

	.oo-ui-popupWidget-popup {
		width: -moz-fit-content !important;
		width: fit-content !important;
	}

	.oo-ui-popupWidget-body {
		width: -moz-fit-content;
		width: fit-content;
		min-width: 5.5em;
		max-width: 11em !important;
		overflow: auto;
	}
}

.columns-list > ul:first-child,
.columns-list > ol:first-child {
	margin-top: 0;
}

s.just-kidding-text {
	color: #666;
	text-decoration-color: #000;
}

body .mw-mmv-overlay {
	z-index: 9999;
}

body .mw-mmv-wrapper {
	z-index: 99999;
}
.noconvins > .mw-charinsert-item::before {
	content: "-{";
}

.noconvins > .mw-charinsert-item::after {
	content: "}-";
}
.mw-revslider-tooltip {
	z-index: 7;
}
.errorbox ul {
	list-style: none;
}
body .ajaxpoll {
	width: -moz-max-content;
	width: max-content;
	max-width: 100%;
	min-width: 400px;
}

.skin-vector-2022 #firstHeading {
	font-weight: 500;
	padding-left: 0.25em;
}
div#simpleSearch button#searchButton {
	padding-top: 0.1em;
	padding-bottom: 0.2em;
	padding-right: 0.1em;
}

.block,
.content-box {
	width: 100%;
}

.content-box {
	display: flex;
}

.parallel .content-box {
	flex-direction: row;
}

.parallel .boite {
	flex-grow: 1;
}
#siteSub {
	display: inline;
	font-size: 90%;
	font-weight: 400;
	font-style: normal;
	text-align: right;
}
#siteNotice .scrollDiv {
	width: 100%;
	overflow: hidden;
	position: relative;
	margin-left: 0 !important;
	height: 1.28rem;
}

#siteNotice .scrollDiv:empty {
	display: none;
}

#siteNotice .scrollDiv > * {
	list-style: none;
	padding-left: 0;
	position: absolute;
	width: 100%;
	top: 1.28rem;
}

#siteNotice .scrollDiv > *:first-child {
	top: 0;
}

#siteNotice .scrollDiv.scrolling.animation,
#siteNotice .scrollDiv.scrolling.animation > * {
	transition: all 0.37s ease-in-out;
}
.mw-body a.external:visited {
	color: #36b;
}
#mw-content-text i:not([role="img"]) {
	margin-right: 3px;
}

.common-box {
	padding: 0.2em 0.4em;
	border: 1px solid #ddd;
	border-radius: 10px;
	box-shadow: #666 0 2px 3px;
}

pre {
	white-space: pre-wrap;
	overflow-wrap: break-word;
}

.wikitable {
	max-width: 100%;
}
.thumb.tcenter {
	float: none;
	clear: both;
	display: block;
	margin: 0 auto;
}
.editRequest {
	text-align: center;
	border: 1px solid #ddd;
	border-radius: 3px;
	margin: 1em 2.5em;
	padding: 1em;
	background: white;

	.newComment {
		white-space: nowrap;
		background: #347bff;
		color: #fff;
		border: 1px solid #347bff;
		text-shadow: 0 1px rgb(0 0 0 / 10%);
		font-family: inherit;
		font-size: 1em;
		min-width: 4em;
		max-width: 28.75em;
		padding: 0.5em 1em;
		margin: 0;
		border-radius: 2px;
		box-sizing: border-box;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		zoom: 1;
		vertical-align: middle;
		text-align: center;
		font-weight: bold;
		cursor: pointer;
	}
}

// 注释里的列表
.reference-text > ul.listInRef,
.reference-text > ol.listInRef {
	margin: -1.5em 0 0 2em;
}

// wikitable 的 caption
.wikitable.mw-collapsible {
	caption {
		border: 1px solid rgb(170 170 170 / 37%);
		border-bottom-width: 0;
		background-color: rgb(249 249 249);
	}
	&.mw-collapsed caption {
		border-bottom-width: 1px;
	}
}

// 分类页同组页面不被拆分成两栏
.mw-category-group {
	-moz-column-break-inside: avoid;
	break-inside: avoid;

	// 只有一个或两个列表时
	&:only-child:last-child,
	&:first-child:nth-last-child(2),
	&:nth-child(2):last-child {
		-moz-column-break-inside: auto;
		break-inside: auto;
	}
}

// 编辑冲突界面排版
.mw-explainconflict ~ #editform {
	display: flex;
	flex-direction: column;

	> * {
		order: 2;
	}

	> h2,
	> h2 ~ * {
		order: 1;
	}

	> h2 > .mw-headline::after {
		content: "（请滚动查看，可拖动右下角斜线符号调整高度）";

		:root:lang(zh-Hant) &,
		:root:lang(zh-HK) &,
		:root:lang(zh-TW) & {
			content: "（請滾動查看，可拖動右下角斜線符號調整高度）";
		}
	}

	#wikieditor-toolbar-file-dialog
		+ .ui-dialog-buttonpane
		> .ui-dialog-buttonset
		> .ui-button:last-child {
		display: none;
	}

	& > .diff + h2 > .mw-headline::after,
	& > .diff-container + h2 > .mw-headline::after {
		content: "（由于技术限制，此处为全文版本，请使用 Ctrl+F | ⌘+F 搜索相关差异，可拖动右下角斜线符号调整高度）";

		:root:lang(zh-Hant) &,
		:root:lang(zh-HK) &,
		:root:lang(zh-TW) & {
			content: "（由於技術限制，此處為全文版本，請使用 Ctrl+F | ⌘+F 搜索相關差異，可拖動右下角斜線符號調整高度）";
		}
	}

	> textarea[readonly] {
		height: 20vh;
		width: 100% !important;
		resize: vertical;
	}
	> .diff-container {
		height: 20vh;
		overflow-y: auto;
		border: 1px solid gray;
		resize: vertical;
	}
	> .wikiEditor-ui::before {
		content: "编辑框（最新版本）";
		font-size: 1.5em;
		margin: 1em 0 0.25em;
		font-family: serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
		line-height: 1.3;
		padding: 0;
		font-weight: 700;
		border-bottom: 1px solid #0074f9;
		color: #000;
		background: none;
		overflow: hidden;
		display: block;

		:root:lang(zh-Hant) &,
		:root:lang(zh-HK) &,
		:root:lang(zh-TW) & {
			content: "編輯框（最新修訂）";
		}
	}
}

.noprint.plainlinks.hlist.navbar.nomobile {
	width: 300px !important;
}

.infotemplatebox {
	float: right;
	width: 280px;
	font-size: 90%;
	margin: 1em 0 1em 1em;
	background: #f9f9f9;
	border: 1px #999 solid;
	border-collapse: collapse;
	word-break: break-all;
	clear: right;

	// TODO: 改为移动端优先设计
	body:not(.main-sm) & {
		width: 100% !important;
		float: none !important;
	}
}

// TODO: 改为移动端优先设计
body:not(.main-sm) .infobox {
	max-width: 100% !important;
	width: 100% !important;
	float: none !important;
}

// 加个VS-15防止变成彩色emoji
.mw-diff-movedpara-right::after {
	content: "↩\FE0E";
}
.mw-diff-movedpara-left::after {
	content: "↪\FE0E";
}

// 不知道为什么竖线不见了
.mw-content-container .mw-editsection .mw-editsection-divider {
	display: revert;
}

.comment-avatar img {
	border-radius: 50%;
	border: 1px solid #d0d7e2;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
