:root {
	--color-link-extiw: #00af89;
	--color-link-extiw-hover: #00d7a8;
	--color-link-disambig: #ef8850;
	--color-link-disambig-visited: #d27138;
}

a.extiw:not([href*="voca.wiki"]) {
	&,
	&:visited,
	body.heimu_toggle_on span.heimu &,
	body.heimu_toggle_on & span.heimu {
		color: var(--color-link-extiw);
	}

	.heimu:hover &,
	.heimu:hover &:visited,
	&:hover .heimu,
	&:hover:visited .heimu {
		color: var(--color-link-extiw-hover);
	}
}

a.mw-disambig {
	&,
	body.heimu_toggle_on .heimu &,
	body.heimu_toggle_on & .heimu,
	.heimu:hover &,
	&:hover .heimu {
		color: var(--color-link-disambig);
	}

	&:visited,
	body.heimu_toggle_on .heimu &:visited,
	body.heimu_toggle_on &:visited .heimu,
	.heimu:hover &:visited,
	&:visited:hover .heimu {
		color: var(--color-link-disambig-visited);
	}
}
